<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body {
      background: rgb(164, 175, 169);
    }

    .card {
      margin: 20px;
    }
  </style>
</head>

<body>

  <br>
  <hr>
  <div class="container">
    <div class="row">
      <div class="carousel-item active">
        <img
          src="https://lh3.googleusercontent.com/proxy/3YSwYqUHjFzlYTe6iCBdkpxF_PNxzcr3tVI79h3GoL1HGAZ1Sk40ngFXVuYrcX0OdjqqJqR9YkSnn9wLQQ4StjW9LkFFXSt-1KZWII7_ITNPGISF6RxhyJwu8fqEiYs"
          class="card-img-top w-100 h-100" alt="...">
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="jumbotron">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
          featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://image.makewebeasy.net/makeweb/0/u5QBfcnUw/Product_Sanitary/499_98_181.jpg?v=202012190947" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">1,220 THB</h5>
          <p class="card-text">ตะแกรงวางของในห้องน้ำทรงสามเหลี่ยม</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://image.makewebeasy.net/makeweb/0/u5QBfcnUw/Product_Sanitary/499_98_182.jpg?v=202012190947" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">1,060 THB</h5>
          <p class="card-text">ตะแกรงวางของในห้องน้ำทรงสี่เหลี่ยม</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://image.makewebeasy.net/makeweb/0/u5QBfcnUw/Product_Sanitary/499_98_184.jpg?v=202012190947" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">1,070 THB</h5>
          <p class="card-text">ตะแกรงวางของพร้อมกระจก</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://image.makewebeasy.net/makeweb/0/u5QBfcnUw/product_upload/495_61_425_D01__Custom_.jpg?v=202012190947" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">12,572 THB</h5>
          <p class="card-text">โถสุขภัณฑ์ชิ้นเดียว-เซน</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

  </div>


</body>

</html>